<!-- parking_app/templates/forgot_password.html -->
{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<style>
    body, html {
        background-image: url("https://i.im.ge/2024/07/11/V6yoic.watercolor-light-steel-blue-wallpaper-image.jpeg");
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Georgia, Serif;
        background-color: #d4d4d4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .container {
        background-color: white;
        border: 1px solid #ccc;
        padding: 35px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: center;
        margin-top: 100px;
    }
    .container h2 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .container form {
        display: flex;
        flex-direction: column;
    }
    .container input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    .container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    .container button:hover {
        background-color: #0056b3;
    }
    .container a {
        color: #007bff;
        text-decoration: none;
    }
    .container a:hover {
        text-decoration: underline;
    }
    .links {
        margin-top: 10px;
    }
</style>

<div class="container">
    <img src="https://i.im.ge/2024/07/11/V6PL8K.generated-file-name.png" alt="app icon" width="100px" height="100px">
    <h2>Enter Your Username</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Enter Your Username">
        <button type="submit">Continue</button>
    <div class="links">
        <p>Don't Have Account? <a href="{% url 'register' %}">Create One!</a></p>
    </div>
    </form>
</div>

{% endblock %}
